body{
    font-family: 'Source Sans Pro', sans-serif;
}
#first-h1{
    color: azure;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#right-section{
    background-color:floralwhite;
}
.income-section h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: #3D3D6B;
}
.income-section label{
    font-size: 25px;
    color: #3D3D6B;
}
.income-section input{
    margin: 10px;
    border: 3px solid rgb(47, 74, 54);
    padding: 8px 10px;
}
.expenses-section{
    margin-top: 20px;
}
.expenses-section h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: #3D3D6B;
}
.expenses-section label{
    font-size: 25px;
    color: #3D3D6B;
}
.expenses-section input{
    margin: 10;
    border: 3px solid rgb(47, 74, 54);
    padding: 8px 10px;
}
#calculate-btn{
    font-size: 25px;
    padding: 15px 60px;
    margin-top: 20px;
}
#save-error{
    color: red;
    font-size: 15px;
}
#income-input-error{
    color: red;
    font-size: 15px;
    text-align: center;
}
#food-input-error{
    color: red;
    font-size: 15px;
    text-align: center;
}
#rent-input-error{
    color: red;
    font-size: 15px;
    text-align: center;
}
#clothes-input-error{
    color: red;
    font-size: 15px;
    text-align: center;
}
#expenses-error{
    color: red;
    font-size: 15px;
}
@media screen and (max-width: 350px) { 
    #first-h1{
        font-size: 10px;
    }
    .income-section label{
        font-size: 20px;
    }
}
@media screen and (max-width: 550px) { 
    #first-h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    #left-section{
        margin-bottom: 20px;
    }
    #left-section img{
        max-height: 100vh;
    }
    #first-h1{
        font-size: 30px;
    }
    

}
@media screen and (max-width: 991px) {
    #left-section{
        margin-bottom: 20px;
    }
}
